# Memory dumps (Sənin aldığın xətanın qarşısını alan əsas hissə)
*.hprof
java_pid*

# Gradle və Android müvəqqəti faylları
.gradle/
build/
/captures/
/.cxx/
/local.properties
gradle-wrapper.jar
/gradlew
/gradlew.bat

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

key.properties
**/*.keystore
**/*.jks

# IDE faylları
.idea/
.vscode/
*.iml

# Sistem faylları
.DS_Store
Thumbs.db

# Flutter-in avtomatik yaratdığı fayllar
GeneratedPluginRegistrant.java